
.App {
  text-align: center;
  background: rgb(248, 245, 245);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;  
}

.App-link {
  color: #61dafb;
}

/* Navbar */
.rightNav{
  color: rgb(230, 59, 59);
}

/* Homepage */

.hero_header{
  font-size: 3rem;
  margin: 0 auto;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
}

.carousel_splash{
  height: 75vh;
}

/* About */

.about_image{
  margin: 0 auto;
}

.about_container{
  max-width: 70rem;
}

.carousel_container{
  min-height: 21rem;
}

.review_img_container{
  max-width: 6rem;
  margin: 0 auto;
  margin-top: 1rem;
  margin-bottom: 11rem;
}

.testimonialImages{
  border-radius: 50%;
}

/* Contact */

.container_form > form{
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 45vw;
  min-width: 25rem;
}

.question_header{
    animation: fade-in 2s; 
}

@keyframes fade-in {
  from { opacity: 0; }
  to { opacity: 1; }
}

form > *{
  margin: .5rem;
}

/* Buttons, Gear */

.selected{
  color: red;
}

.notSelected{
  color: white;
}

.card_description{
  height: 3rem;
}

/* Checkout */
.hidePrice{
  visibility:hidden;
}

/* Cart */

.item_counter{
  padding: .5rem;
  margin-left: .5rem;
  margin-top: .5rem;
}


.item_count{
  font-size: 1.5rem;
  padding: .5rem;
}

/* Footer */

.footerIcon:hover{
  transform: scale(1.1);
}