
.App {
  text-align: center;
  background: rgb(248, 245, 245);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;  
}

.App-link {
  color: #61dafb;
}

/* Navbar */
.rightNav{
  font-size: 1.4rem;
  color: rgb(230, 59, 59);
}

.navbar{
  width: 100%;
}

.rightNav_hide{
  display: none;
}

/* Homepage */

.hero_header{
  font-size: 2.5rem;
  margin: 0 auto;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: rgb(230, 59, 59);
  color: rgb(230, 59, 59);
}

.carousel_splash{
  height: 75vh;
}

@media only screen and (min-width: 1400px){
  .carousel_splash{
    height: 80vh;
  }
}

/* About */


.about{
  margin: 0 auto;
  max-height: 50vh;
}

.about_container{
  max-width: 70rem;
}

/* .carousel_container{
  min-height: 21rem;
} */

.img_container{
  max-width: 6rem;
  margin: 0 auto;
  margin-top: 1rem; 
  margin-bottom: 11rem;
  min-height: 10vh;
}

.testimonialImages{
  border-radius: 50%;
}

@media only screen and (max-width: 600px){
  .testimonialImages{
    visibility: hidden;
  }
}

/* Contact */

.container_form{
  display: flex;
  justify-content: center;
}

.container_form > form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  max-width: 45vw;
  min-width: 25rem;
}

.question_header{
    animation: fade-in 2s; 
}

@keyframes fade-in {
  from { opacity: 0; }
  to { opacity: 1; }
}

form > *{
  margin: .5rem;
}

/* Buttons, Gear */

.selected{
  color: red;
}

.notSelected{
  color: white;
}

.card_description{
  height: 3rem;
}

/* Checkout */
.hidePrice{
  visibility:hidden;
}

/* Cart */

.item_counter{
  padding: .5rem;
  margin-left: .5rem;
  margin-top: .5rem;
}


.item_count{
  font-size: 1.5rem;
  padding: .5rem;
}

/* Footer */

.footerIcon:hover{
  transform: scale(1.1);
}

nav ul li {
  position:relative;
}

.drop-down{
  position:absolute;
  top:100%;
  left:0;
  right:0;
  z-index:1;
}