.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;  
}

.App-link {
  color: #61dafb;
}

/* Navbar */
.rightNav{
  color: rgb(230, 59, 59);
}

/* Homepage */
.hero{
  height: 70vh;
  width: 120vw;
}

.hero_header{
  font-size: 3rem;
  margin: 0 auto;
  /* margin-bottom: 40%;
  margin-left: 40%;
  color: rgb(231, 228, 228);
  font-weight: 900; */
  /* -webkit-text-stroke-width: 2.5px;
  -webkit-text-stroke-color: black; */
}

.carousel_splash{
  height: 70vh;
}

/* About */

.about_image{
  margin: 0 auto;
}

/* Contact */

.container_form > form{
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  margin: 0 auto;
  max-width: 50vw;
  min-width: 25rem;
}

form > *{
  margin: .5rem;
}

/* Buttons, Gear */

.selected{
  color: red;
}

.notSelected{
  color: white;
}

/* Checkout */
.hidePrice{
  visibility:hidden;
}

/* Cart */

.item_counter{
  /* border: .5px solid black;
  border-radius: 10px; */
  padding: .5rem;
  margin-left: .5rem;
  margin-top: .5rem;
}


.item_count{
  font-size: 1.5rem;
  padding: .5rem;
}

/* Footer */

